#play-button {
    text-align: center;
}
#hint-button {
    display: none;
}
#play-again-button {
    display: none;
}
#letter-bank {
    display: none;
}
#goal-word-box {
    display: none;
}
.goal-word-empties {
    display: inline-flex;
    padding-left: 10px;
    padding-right: 10px;
}
#message-box-header {
    display: none;
}
#letter-bank-header {
    display: none;
}
#goal-word-header {
    display: none;
}